//
// Style Markdown content
//

@media (max-width: 767px) { 
  h1, .h1 { font-size: $h1-font-size*0.85; } 
} 

.td-content {
    order: 1;

    .svg-container {
		display: flex; 
		align-items: center;
	}

	.svg-center{
		display: block;
		margin: auto;
	}

    .git-hover {
        &:hover{
            > path {
                fill: #d73a49;
            }
        };
    }
		

    p, li, td {
        font-weight: $font-weight-medium;

        img {
            margin: 0 auto 0;
            display: block;
        }
    }

    > .h1 {
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
        //background-color: aqua;
        //clip-path: polygon(0% 0%, 0% 0%, 100% 80%, 0 100%);
        background: linear-gradient(0deg, #FED955 40%, #ffffff 40%);
        width: fit-content;
        padding-left: 0.2rem;
        padding-right: 0.2rem;

    }

    .content-title {
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
        //background-color: aqua;
        //clip-path: polygon(0% 0%, 0% 0%, 100% 80%, 0 100%);
        background: linear-gradient(0deg, #FED955 40%, #ffffff 40%);
        width: fit-content;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    > h2 {
        margin-bottom: 1rem;
    }

    > h2:not(:first-child) {
        margin-top: 3rem;
    }

    > h2 + h3 {
         margin-top: 1rem;
    }

    h4 {
        font-size: 1.15rem;
    }

    > h3, > h4, > h5, > h6 {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    img {
        @extend .img-fluid;
    }

    > table {
        @extend .table-striped;

        @extend .table-responsive;

        @extend .table;
    }

    > blockquote {
        margin-top: 1rem;
        padding: 0 0 0 1rem;
        margin-bottom: $spacer;
        color: $primary;
        border-left: 6px solid #4BB4FF;
        font-size: 1.1rem;
    }

    > ul li, > ol li {
        margin-bottom: .25rem;
    }

    strong {
        font-weight: $font-weight-bold;
    }

    > pre, > .highlight, > .lead, > h1, > h2, > ul, > ol, > p, > blockquote, > dl dd, .footnotes, > .alert {
        @extend .td-max-width-on-larger-screens;
    }

    .alert:not(:first-child) {
        margin-top: 2 * $spacer;
        margin-bottom: 2 * $spacer;
    }

    .lead {
        padding-left: 1rem;
        margin-bottom: 1.5rem;
        font-weight: $font-weight-normal;
        font-size: $font-size-base * 1.05;
    }
}

.td-title {
    margin-top: 1rem;
    margin-bottom: .5rem;

    @include media-breakpoint-up(sm) {
        font-size: 3rem;
    }
}