//
// Main navbar
//

#shadow {
	background: #000;
	opacity: 0.3;
	filter: alpha(opacity=90);
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
}

.navbar-dark .navbar-nav .nav-link {
    &:hover, &:focus, &:active {
        color: $blue;
    }
        .active { 
            color: $blue;
        }
}

@media (max-width: 767px) {
    #navbarOffcanvas {
        
        .dropdown-item {
            &.active,
            &:active {
                background-color: white;
            }

            &:hover, &:focus {
                    color: $blue;
            }
        }
        
        .dropdown-menu {
            background-color: #F5F8FA;
            border: 0;
            border-radius: 2px;
            

            .nav-link {
                color: $primary;

                &:hover, &:focus, &:active {
                    color: $blue;
                    background-color: white;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }
            }
        }

        #navbarDropdownMenuLink{
            //padding-left: 12px;
        }

        .devider {
            border-left: 1px solid white;
			height: 20px;
        }

        .nav-link {
            font-size: 1rem;
        }

        .navbar-brand {
            padding: 0;
            margin: 0;
            
            max-width: 190px;
            .navbar-logo {
                > svg {
                    width: 190px;
                    max-width:100%;
                    margin: 0;
                    padding-right: 0.25rem;
                }
            }
        }
    }
}

@media (min-width: 767px) {
    #navbarOffcanvas {
        .mobile-dropdown{
            display: none;
        }
    }
}


.navbar-offcanvas {
    .td-search-input {
        max-width: 85%;
        border: none;
        //border-bottom: 1px solid #B3C4D7;
        font-weight: 400;
        //padding-left: 0.5rem;
    }

    .search-logo {
        > svg > path {
            fill: $primary;
        }
    }
}

nav .navbar-logo > svg  { 
    // max-height: 75%;
    max-width: 75%; 
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0; 
}

.td-navbar-cover {
    background: $primary;

    @include media-breakpoint-up(md) {
        background: transparent !important;

        .nav-link {
            text-shadow: 1px 1px 2px $dark;
        }

    }

    &.navbar-bg-onscroll .nav-link {
        text-shadow: none;
    }
}

.navbar-bg-onscroll {
    background: $primary !important;
    opacity: inherit;
}

.td-navbar {
    background: $primary;
    min-height: 3.7rem;
    padding: 0;
    
    margin: 0;
    z-index: 32;

    @include media-breakpoint-up(md) {
        position: fixed;
        top: 0;
        width: 100%;
    }


    .navbar-brand {
        text-transform: none;
        text-align: middle;
        

        .font-weight-semi-bold{
            font-size: $font-size-base * 1.8;
            font-weight: $font-weight-semi-bold;
        }

        .nav-link {
            display: inline-block;
            margin-right: -30px;
        }

        svg {
            display: inline-block;
            margin: 0px 20px;
            height: 50px;
        }
    }

    .nav-link {
        text-transform: none;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-base*0.9;
    }
    
    .td-search-input {
        border: none;
        border-bottom: 1px solid white;
        font-weight: 400;

        @include placeholder {
            color: $navbar-dark-color;
        }

        &:focus {
            @include placeholder {
                color: gray;
            }
        }
    }

    .dropdown {
        min-width: 100px;
    }

    @include media-breakpoint-down(md) {
        padding-right: .5rem;
        padding-left: .75rem;

        .td-navbar-nav-scroll {
            max-width: 100%;
            height: 2.5rem;
            margin-top: .25rem;
            overflow: hidden;
            font-size: .875rem;

            .nav-link {
                padding-right: .25rem;
                padding-left: 0;
            }

            .navbar-nav {
                padding-bottom: 2rem;
                overflow-x: auto;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;

            }
        }
    }
}

// Icons
#main_navbar {
    li i {
    padding-right: 0.5em;

        &:before {
            display: inline-block;
            text-align: center;
            min-width: 1em;
        }
    }
  .alert {
    background-color: inherit;
    padding:0;
    color: $secondary;
    border: 0;
    font-weight: inherit;

        &:before {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900; 
            content: "\f0d9";
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
    }  
}