//
// Right side toc
//

.td-toc {
    //border-left: 1px solid $border-color;
    background-color: #F5F8FA;

    @supports (position: sticky) {
        position: sticky;
        padding-top: 4rem;
        top: 0rem;
        height: calc(100vh);
        overflow-y: auto;
    }

    order: 2;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
    vertical-align: top;

    a {
        display: block;
        font-weight: $font-weight-medium;
        padding-bottom: .25rem;
    }

    li {
        list-style: none;
        display: block;
    }

    li li {
        margin-left: 0.5rem;
    }

    .td-page-meta {
        a {
            font-weight: $font-weight-medium;
        }
    }

    #TableOfContents {
        // Hugo's ToC is a mouthful, this can be used to style the top level h2 entries.
        // > ul > li > ul > li > a {
        //     font-weight: $font-weight-bold;
        // }

        > ul > li > ul > li > ul > li >a {
            font-weight: $font-weight-bold;
        }

        li {
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
        }

        a {
            color: $gray-700;
           
            &:hover {
                color: $blue;
                text-decoration: none;
            }

            &.active {
                font-weight: $font-weight-bold;
                color: $blue;
            }
        }
    }

    ul {
        padding-left: 0;
    }
}