
{{ $cover := .HasShortcode "blocks/cover" }}
<nav class="js-navbar-scroll navbar navbar-expand navbar-dark {{ if $cover}} td-navbar-cover {{ end }} flex-md-row td-navbar"  role="navigation">

	<div class="collapse navbar-collapse  d-none d-sm-block" id="navbarOffcanvas">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="navbar-brand pt-lg-2 pb-lg-1 pt-md-2" href="{{ .Site.Home.RelPermalink }}">
					<span class="navbar-logo">{{ if .Site.Params.ui.navbar_logo }}{{ with resources.Get "icons/logo.svg" }}{{ ( . |
						minify).Content | safeHTML }}{{ end }}{{ end }}</span><span class="font-weight-semi-bold">{{ .Site.Title
						}}</span>
				</a>
			</li>
			<li class="nav-item m-auto "><div class="devider"></div></li>
			<li class="nav-item dropdown mobile-dropdown m-auto ">
				<!--shadow block-->
				<div id="shadow"></div>
				{{ $activeLinkName := "" }}
				<div class="dropdown-menu pt-0 pb-0" aria-labelledby="navbarDropdownMenuLink" id="dropdown-menu-mobile">
					{{ $p := . }}
					{{ range .Site.Menus.main }}
					{{ if and (not (eq .Name "Get Started")) (not (eq .Name "")) }}
						{{ $active := eq (index (split $.CurrentSection.URL "/") 1) (index (split .URL "/") 0) }}
						{{ with .Page }}
						{{ $active = or $active ( $.IsDescendant .) }}
						{{ end }}
						{{ $url := urls.Parse .URL }}
						{{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
						{{ if $active }} {{ $activeLinkName = .Name }} {{ end }}
						<a class="nav-link{{if $active }} active{{end}} dropdown-item"
							href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host
							$baseurl.Host }}target="_blank" {{ end }}>
							<span{{if $active }} class="active" {{end}}>
								{{ .Name }}
								</span>
						</a>
					{{ end }}
					{{ end }}
					
				</div>
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					{{ if $activeLinkName}}{{ $activeLinkName }}{{ else }}Menu{{ end }}
				</a>
			</li>
		</ul>
		
		<ul class="navbar-nav ml-auto ">
			<li class="nav-item">
				<button type="button"
					class="navbar-toggle offcanvas-toggle pull-right btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars"
					data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas" style="float:left; color:white;">
				</button>
			</li>
		</ul>
	</div>
			
	<div class="td-navbar-nav-scroll ml-md-auto d-lg-block d-md-block d-none" id="main_navbar">
		<ul class="navbar-nav mt-lg-0">
			<!-- Full navbar
			{{ $p := . }}
			{{ range .Site.Menus.main }}
			{{ if and (not (eq .Name "Get Started")) (not (eq .Name "")) }}
			<li class="nav-item mr-4 mb-2 mb-lg-0">				
				{{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
				{{ $active := eq (index (split $.CurrentSection.URL "/") 1) (index (split .URL "/") 0) }}
				{{ with .Page }}
				{{ $active = or $active ( $.IsDescendant .)  }}
				{{ end }}
				{{ $url := urls.Parse .URL }}
				{{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
				<a class="nav-link{{if $active }} active{{end}}" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}><span{{if $active }} class="active"{{end}}>
					{{ .Name }}
				</span></a>
			</li>
			{{ end }}
			{{ end }} -->

			<li class="nav-item dropdown pr-1 mobile-dropdown m-auto ">
				{{ $activeLinkName := "" }}
				<div class="dropdown-menu pt-0 pb-0" aria-labelledby="navbarDropdownMenuLink" id="dropdown-menu-mobile">
					{{ $p := . }}
					{{ range .Site.Menus.main }}
					{{ if and (not (eq .Name "Get Started")) (not (eq .Name "")) }}
					{{ $active := eq (index (split $.CurrentSection.URL "/") 1) (index (split .URL "/") 0) }}
					{{ with .Page }}
					{{ $active = or $active ( $.IsDescendant .) }}
					{{ end }}
					{{ $url := urls.Parse .URL }}
					{{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
					{{ if $active }} {{ $activeLinkName = .Name }} {{ end }}
					<a class="nav-link{{if $active }} active{{end}} dropdown-item"
						href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host
						$baseurl.Host }}target="_blank" {{ end }}>
						<span{{if $active }} class="active" {{end}}>
							{{ .Name }}
							</span>
					</a>
					{{ end }}
					{{ end }}
			
				</div>
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					{{ if $activeLinkName}}{{ $activeLinkName }}{{ else }}Menu{{ end }}
				</a>
			</li>

			{{ if  .Site.Params.versions }}
			<li class="nav-item dropdown d-none d-md-block">
				{{ partial "navbar-version-selector.html" . }}
			</li>
			{{ end }}
			{{ if  (gt (len .Site.Home.Translations) 0) }}
			<li class="nav-item dropdown d-none d-md-block">
				{{ partial "navbar-lang-selector.html" . }}
			</li>
			{{ end }}
		</ul>
	</div>

	
	
	<div class="navbar-nav pr-1 d-none d-md-block">{{ partial "search-input.html" . }}</div>

	<!-- <div class="navbar-nav d-none d-lg-block">{{ partial "get-started-button.html" . }}</div> -->
</nav>
