<script>
  document.addEventListener("readystatechange", setArrows);

  function setArrows(){
    var activeItem = document.getElementsByClassName('td-sidebar-nav-active-item')[0]
    var curEl = activeItem;

    while (true) {
      if ( curEl === undefined || curEl.parentElement === null || curEl.parentElement === undefined) { break; }
      if (curEl.classList.contains("td-sidebar-nav__section") && curEl.classList.contains('active-path')) {
        let arrowLeftSide = curEl.getElementsByClassName('arrow')[0]
        let arrowRightSide = curEl.getElementsByClassName('arrow')[1]
        
        if (arrowLeftSide.childElementCount === 1){
          let svgArrow = arrowLeftSide.firstElementChild
          svgArrow.setAttribute('transform', 'rotate(180)')
        }

        if (arrowRightSide.childElementCount === 1) {
          let svgArrow = arrowRightSide.firstElementChild
          svgArrow.setAttribute('transform', 'rotate(0)')
        }
      }
      curEl = curEl.parentElement
   }
 }
</script>

{{/* We cache this partial for bigger sites and set the active class client side. */}}
{{ $sidebarCacheLimit := cond (isset .Site.Params.ui "sidebar_cache_limit") .Site.Params.ui.sidebar_cache_limit 2000 }}
{{ $shouldDelayActive := ge (len .Site.Pages) $sidebarCacheLimit }}
<div id="td-sidebar-menu" class="td-sidebar__inner pt-4 {{ if $shouldDelayActive }} d-none{{ end }}">
  {{ if not .Site.Params.ui.sidebar_search_disable }}
  <form class="td-sidebar__search d-flex align-items-center">
    {{ partial "search-input.html" . }}
    <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
    </button>
  </form>
  {{ else }}

  <div id="content-desktop"></div>
  {{ end }}
  
  <nav class="collapse td-sidebar-nav p-0 navbar navbar-default" role="navigation" id="td-section-nav">
    {{ if  (gt (len .Site.Home.Translations) 0) }}
    <div class="nav-item dropdown d-block d-lg-none">
      {{ partial "navbar-lang-selector.html" . }}
    </div>
    {{ end }}
    {{ $navRoot := cond (and (ne .Params.toc_root true) (eq .Site.Home.Type "docs")) .Site.Home .FirstSection }}
    {{ $ulNr := 0 }}
    {{ $ulShow := cond (isset .Site.Params.ui "ul_show") .Site.Params.ui.ul_show 1 }}
    {{ $sidebarMenuTruncate := cond (isset .Site.Params.ui "sidebar_menu_truncate") .Site.Params.ui.sidebar_menu_truncate 50 }}
    
    <div class="container-fluid pr-0 pl-0">
      <div class="nav navbar-nav navbar-offcanvas navbar-offcanvas-touch navbar-offcanvas-right" id="js-bootstrap-offcanvas"
      style="padding-left: 0px; padding-right: 0px;">

        
        <ul class="td-sidebar-nav__section p-0 md-3 ul-{{ $ulNr }}">
          <li
            class="td-sidebar-nav__section-title td-sidebar-nav__section pl-0 pr-0 d-lg-none d-sm-node d-md-block"
            id="search-li">
              
              
              <form class="td-sidebar__search d-flex align-items-center pb-0 pt-1">
                <i class="d-sm-inline-block d-md-inline-block pl-1 search-logo">{{ with resources.Get "icons/search.svg" }}{{ ( . | minify).Content |
                  safeHTML }}{{ end }}</i>
                {{ partial "search-input.html" . }}
                
              </form>
            
          </li>
          {{ template "section-tree-nav-section" (dict "CurrentSection" .CurrentSection "rootSectionName" (index (split
          .CurrentSection.URL "/") 1) "Section" .Section "FirstSection" .FirstSection "page" . "section" $navRoot
          "shouldDelayActive" $shouldDelayActive "sidebarMenuTruncate" $sidebarMenuTruncate "ulNr" $ulNr "ulShow" (add $ulShow
          1)) }}
        </ul>
      </div>
    </div>
    
    
  </nav>
</div>
{{ define "section-tree-nav-section" }}
  {{ $s := .section }}
  {{ $p := .page }}
  {{ $shouldDelayActive := .shouldDelayActive }}
  {{ $sidebarMenuTruncate := .sidebarMenuTruncate }}
  {{ $treeRoot := cond (eq .ulNr 0) true false }}
  {{ $ulNr := .ulNr }}
  {{ $ulShow := .ulShow }}
  {{ $active := and (not $shouldDelayActive) (eq $s $p) }}
  {{ $activePath := and (not $shouldDelayActive) ($p.IsDescendant $s) }}
  {{ $rootSectionName := .rootSectionName }}
  {{ $pages_tmp := where (union $s.Pages $s.Sections).ByWeight ".Params.toc_hide" "!=" true }}
  {{ $pages := $pages_tmp | first $sidebarMenuTruncate }}
  {{ $withChild := gt (len $pages) 0 }}
  {{ $mid := printf "m-%s" ($s.RelPermalink | anchorize) }}
  {{ $show := cond (or (and (gt (len (split $p.URL "/")) (len (split .CurrentSection.URL "/"))) 
                        (eq (index (split $p.URL "/") 2) (index (split $s.URL "/") 2))
                          (or 
                            (eq (index (split $p.URL "/") 3) (index (split $s.URL "/") 3))
                            (lt (len (split $p.URL "/")) 3)
                          )
                        ) 
                        (and (eq (index (split $s.URL "/") 1) $rootSectionName) (lt (len (split $s.URL "/")) 5)) 
                        (lt $ulNr $ulShow) $activePath 
                        (and (not $shouldDelayActive) (eq $s.Parent $p.Parent)) 
                        (and (not $shouldDelayActive) (eq $s.Parent $p)) 
                        (not $p.Site.Params.ui.sidebar_menu_compact)) 
                        true false }}
 
  <!-- write new sections here -->
  {{ $anotherSections := slice "search" "QuickStart" "Recipes" "Tutorials" }}

  {{ $isChildOfNotLangSection := false }}
  {{ $isNotLangSection := false}}
  {{ range $anotherSections}}
    {{ if  eq $.section.Name .}}
      {{ $isNotLangSection = true }}
    {{ end }}
    
    {{ if and ( or (eq (len (split $.section.URL "/")) 4) (eq (len (split $.section.URL "/")) 5)) 
          (eq (index (split $.section.URL "/") 1) (. | strings.ToLower)) }}
      {{ $isChildOfNotLangSection = true }}
    {{ end }}
  {{ end }}

  {{ if or (and (not (eq .ulNr 1)) (not $treeRoot ) (eq (index (split $s.URL "/") 1) $rootSectionName)) $isNotLangSection }} 
  
  {{ $ulNr := .ulNr }}
  {{ if and (or $isNotLangSection $isChildOfNotLangSection) (gt .ulNr 1) }}
    {{ $ulNr = add .ulNr 1 }}
  {{ end }}
  
  <li
      class="td-sidebar-nav__section-title td-sidebar-nav__section p-0 {{ if $withChild }} with-child{{ else }} without-child{{ end }}{{ if $activePath }} active-path{{ end }}{{ if not $show}} collapse{{ end }}"
      id="{{ $mid }}-li">
      <span class="{{ if $active }}td-sidebar-nav-active-item{{ end }}{{ if $treeRoot }} tree-root{{ end }}">
        <a href="{{ $s.RelPermalink }}"
          class="nav-item-tree align-left pb-2 pt-2 pl-0 {{if eq $ulNr 2}} bold-font {{ end }} {{ if $active}} active{{ end }} td-sidebar-link{{ if $s.IsPage }} td-sidebar-link__page{{ else }} td-sidebar-link__section{{ end }}"
          id="{{ $mid }}">
        <div class="d-flex justify-content-center align-items-top">
          <div class="arrow {{ if gt $ulNr 2 }} col-2{{else}}p-0 col-1{{end}}">
            {{ if and (not $active) (gt $ulNr 2) $withChild }}
              {{ with resources.Get "icons/arrow_right.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}
            {{ else if and $active (gt $ulNr 2) $withChild}}
              {{ with resources.Get "icons/arrow_down.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}
            {{ end }}
          </div>

          {{ $padding := mul 10 (sub $ulNr 2) }}
          
          <div class="col-7 {{ if $isNotLangSection }}bold-font{{ end }}" 
            style="padding-left:{{ if gt $padding 0 }}{{ $padding }}{{ end }}px; {{ if $isChildOfNotLangSection }}font-weight: 500;{{ end }}">
            {{ $s.LinkTitle }}
          </div>
          <div class="arrow pl-4 col-3">
            {{ if and $active (lt $ulNr 3) $withChild}}
              {{ with resources.Get "icons/arrow_up.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}
            {{ else if and (not $active) (lt $ulNr 3) $withChild}}
              {{ with resources.Get "icons/arrow_down.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}
            {{ end }}
          </div>
        </div>
        </a>
      </span>
    {{ end }}
    
    {{if $withChild }}
      {{ $ulNr := add $ulNr 1 }}
      <ul class="pl-0 md-3 ul-{{ $ulNr }} container">
        {{ range $pages }}
          {{ if (not (and (eq $s $p.Site.Home) (eq .Params.toc_root true))) }}
            {{ template "section-tree-nav-section" (dict "CurrentSection" .CurrentSection "rootSectionName" $rootSectionName "Section" .Section "FirstSection" .FirstSection "page" $p "section" . "shouldDelayActive" $shouldDelayActive "sidebarMenuTruncate" $sidebarMenuTruncate "ulNr" $ulNr "ulShow" $ulShow) }}
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </li>
{{ end }}
