{{/* We cache this partial for bigger sites and set the active class client side. */}}
{{ $sidebarCacheLimit := cond (isset .Site.Params.ui "sidebar_cache_limit") .Site.Params.ui.sidebar_cache_limit 2000 }}
{{ $shouldDelayActive := ge (len .Site.Pages) $sidebarCacheLimit }}
<div id="td-sidebar-menu" class="td-sidebar__inner pt-3 {{ if $shouldDelayActive }} d-none{{ end }}">
  {{ if not .Site.Params.ui.sidebar_search_disable }}
  <form class="td-sidebar__search d-flex align-items-center">
    {{ partial "search-input.html" . }}
    <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
    </button>
  </form>
  {{ else }}

  <div id="content-desktop"></div>
  {{ end }}
  
  <nav class="collapse show td-sidebar-nav p-0 navbar navbar-default" role="navigation" id="td-section-nav">
    <!-- {{ if  (gt (len .Site.Home.Translations) 0) }}
    <div class="nav-item dropdown d-block d-md-none">
      {{ partial "navbar-lang-selector.html" . }}
    </div>
    {{ end }} -->
    {{ $navRoot := cond (and (ne .Params.toc_root true) (eq .Site.Home.Type "docs")) .Site.Home .FirstSection }}
    {{ $ulNr := 0 }}
    {{ $ulShow := cond (isset .Site.Params.ui "ul_show") .Site.Params.ui.ul_show 1 }}
    {{ $sidebarMenuTruncate := cond (isset .Site.Params.ui "sidebar_menu_truncate") .Site.Params.ui.sidebar_menu_truncate 50 }}
    
    <div class="container-fluid pr-0 pl-0">
      <div class="nav navbar-nav navbar-offcanvas navbar-offcanvas-touch navbar-offcanvas-right" id="js-bootstrap-offcanvas"
      style="padding-left: 0px; padding-right: 0px;">

        
        <ul class="td-sidebar-nav__section p-0 md-3 ul-{{ $ulNr }}">
          <li
            class="td-sidebar-nav__section-title td-sidebar-nav__section pl-0 pr-0 d-lg-none d-md-none d-sm-node d-sm-block"
            id="search-li">
              
              
              <form class="td-sidebar__search d-flex align-items-center pb-0 pt-1">
                <i class="d-sm-inline-block d-md-inline-block pl-1 search-logo">{{ with resources.Get "icons/search.svg" }}{{ ( . | minify).Content |
                  safeHTML }}{{ end }}</i>
                {{ partial "search-input.html" . }}
                
              </form>
            
          </li>
          {{ template "section-tree-nav-section" (dict "page" . "section" $navRoot "FirstSection" .FirstSection
              "currentRootSectionName" (lower (index (split .CurrentSection.URL "/") 2))
              "shouldDelayActive" $shouldDelayActive "CurrentSection" .CurrentSection
              "sidebarMenuTruncate" $sidebarMenuTruncate "ulNr" $ulNr "ulShow" (add $ulShow 1)
              "addNavArrows" .Site.Params.ui.addNavArrows) 
          }}
        </ul>
      </div>
    </div>
  </nav>
</div>


{{ define "section-tree-nav-section" }}
  {{ $s := .section }}
  {{ $p := .page }}
  {{ $shouldDelayActive := .shouldDelayActive }}
  {{ $sidebarMenuTruncate := .sidebarMenuTruncate }}
  {{ $treeRoot := cond (eq .ulNr 0) true false }}
  {{ $ulNr := .ulNr }}
  {{ $currentSection := .CurrentSection }}
  {{ $ulShow := .ulShow }}
  {{ $isChildActive := false }}
  {{ $active := and (not $shouldDelayActive) (eq $s $p) }}
  {{ $activePath := and (not $shouldDelayActive) ($p.IsDescendant $s) }}
  {{ $isMatchRootSections := eq (index (split .CurrentSection.URL "/") 1) (index (split $s.URL "/") 1) }}
  {{ $pages_tmp := where (union $s.Pages $s.Sections).ByWeight ".Params.toc_hide" "!=" true }}
  {{ $pages := $pages_tmp | first $sidebarMenuTruncate }}
  {{ $withChild := gt (len $pages) 0 }}
  {{ $mid := printf "m-%s" ($s.RelPermalink | anchorize) }}
  {{ $currentRootSectionName := .currentRootSectionName }}
  {{ $currentRootSection := .currentRootSection }}
  {{if eq (lower $s.Name) .currentRootSectionName}}
    {{ $currentRootSection = $s }}
  {{ end }}

  {{ $showModules := 5 }} <!-- show nested only module current module-->
  {{if not $p.Site.Params.ui.sidebar_menu_compact}} 
    {{ $showModules = 1000 }} 
  {{ end }}

  {{ $showNeighbor := false }}
  {{ $parent := $currentSection }}
  {{ range (seq $ulNr) }}
    {{with $parent}}
      {{$parent = .Parent }}
      {{ if or ($s.InSection .) (eq $ulNr 3) }}
        {{ $showNeighbor = true }}
      {{ end }}
      {{ if $s.IsAncestor . }}
        {{ $isChildActive = true }}
      {{ end }}
    {{ end }}
  {{ end }}
  
  {{ $show := cond (or (and $isMatchRootSections (lt (len (split $s.URL "/")) $showModules))
                        (and ( $p.IsDescendant $currentRootSection) (not (eq .FirstSection $p))  $showNeighbor)
                        (lt $ulNr $ulShow) $activePath 
                        (and (not $shouldDelayActive) (eq $s.Parent $p.Parent)) 
                        (and (not $shouldDelayActive) (eq $s.Parent $p)) 
                        (not $p.Site.Params.ui.sidebar_menu_compact)) 
                        true false }}

  <!-- write new non lang sections here -->
  {{ if or (and (not (eq .ulNr 1)) (not $treeRoot ) $isMatchRootSections)
    ( eq .section.Name "search") 
  }} 

  {{ $padding := mul 10 (sub .ulNr 2) }}

    <li
      class="td-sidebar-nav__section-title td-sidebar-nav__section p-0 {{ if $withChild }} with-child{{ else }} without-child{{ end }}{{ if $activePath }} active-path{{ end }}{{ if not $show}} collapse{{ end }}"
      id="{{ $mid }}-li">
      <span class="{{ if $active }}td-sidebar-nav-active-item{{ end }}{{ if $treeRoot }} tree-root{{ end }}">
        
        <a href="{{ $s.RelPermalink }}"
          class="nav-item-tree align-left pb-2 pt-2 pl-0  {{ if $active}} active{{ end }} td-sidebar-link{{ if $s.IsPage }} td-sidebar-link__page{{ else }} td-sidebar-link__section{{ end }}"
          id="{{ $mid }}"> <!-- {{if eq .ulNr 2}} bold-font {{ end }}-->
        <div class="d-flex justify-content-center align-items-top" 
          style="padding-left:{{ if gt $padding 0 }}{{ $padding }}{{ end }}px;">
          {{ if .addNavArrows }}
            <div class="arrow {{ if gt .ulNr 2 }} col-1{{end}} 
                {{if not (and (gt .ulNr 2) $withChild) }}d-none{{end}}">
              {{ if or $active $isChildActive }}
                {{ with resources.Get "icons/arrow_down.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}
              {{ else }}
                {{ with resources.Get "icons/arrow_right.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}
              {{ end }}
            </div>
          {{ end }}
          <div class="col-11 {{ if or $active $isChildActive }}bold-font{{ end }} "> <!-- {{ if not (gt $padding 0) }}bold-font{{ end }} -->
            {{ $s.LinkTitle }}
          </div>
          
          {{ if .addNavArrows }}
            <div class="arrow  col-2">
              {{ if and $active (lt .ulNr 3) $withChild}}
                {{ with resources.Get "icons/arrow_up.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}
              {{ else if and (not $active) (lt .ulNr 3) $withChild}}
                {{ with resources.Get "icons/arrow_down.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}
              {{ end }}
            </div>
          {{ end }}
        </div>
        </a>
      </span>
    {{ end }}
    
    {{if $withChild }}
      {{ $ulNr := add $ulNr 1 }}
      <ul class="pl-0 md-3 ul-{{ $ulNr }} container">
        {{ range $pages }}
          {{ if (not (and (eq $s $p.Site.Home) (eq .Params.toc_root true))) }}
            {{ template "section-tree-nav-section" (dict "isMatchRootSections" $isMatchRootSections
                "page" $p "section" . "shouldDelayActive" $shouldDelayActive "FirstSection" .FirstSection
                "currentRootSectionName" $currentRootSectionName "currentRootSection" $currentRootSection
                "CurrentSection" $currentSection "addNavArrows" $.addNavArrows
                "sidebarMenuTruncate" $sidebarMenuTruncate "ulNr" $ulNr "ulShow" $ulShow) 
            }}
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </li>
  {{ end }}