{{ define "main"}}
    <main id="main">
      <div class="jumbotron">
          <div class="d-flex justify-content-center p-3">
            <h1 class="text-center">Not found</h1>
          </div>
          <br>
          <div class="d-flex justify-content-center p-3">
            <h4 class="text-center">Oops! This page doesn't exist or has not yet been created.
              Try going back to our <a href="{{ "/" | relURL }}">home page</a>.</h4>
          </div>
      </div>
    </main>
{{ end }}
