{{ $btnText := .Get 0 }}
{{ $uid := now.UnixNano }}
{{ $isMarkdown := eq (.Get "isMarkdown") "true"}}
{{ if $isMarkdown }}
    {{ $uid = add $uid 1 }}
{{ end }}

<a class="btn btn-link" id="btn-collapse-{{ $uid }}" style="border: none;text-decoration:underline;"  type="button"
    data-toggle="collapse" data-target="#collapse-{{ $uid }}" aria-expanded="false" aria-controls="collapse-{{ $uid }}">
    <h4>{{ if $btnText }}{{ $btnText }}{{ else }}Code Example{{ end }}
        <i id="collapse-{{ $uid }}-arrow" class="pl-2 fas fa-caret-down"></i>
    </h4>
</a>

<div class="collapse pt-1" id="collapse-{{ $uid }}">
    <!-- <div class="card card-body"> -->
        {{ if $isMarkdown }}
            {{ .Inner | markdownify}}
        {{ else }}
            {{ .Inner }}
        {{ end }}
    <!-- </div> -->
</div>


<script type="text/javascript">
    document.getElementById("btn-collapse-{{ $uid }}").addEventListener('click', changeArrow);

    function changeArrow(e) {
        console.log('HI')
        let arrow = document.getElementById("collapse-{{ $uid }}-arrow")
        if (arrow.classList.contains("fa-caret-up")) {
            console.log('fa-caret-down')
            arrow.classList.replace("fa-caret-up", "fa-caret-down")
        } else {
            console.log('fa-caret-up')
            arrow.classList.replace("fa-caret-down", "fa-caret-up")
        }
    }
</script>