{{ with .Site.Params.algolia_docsearch }}
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script>
  // fix docsearch bug with inputSelector
  function delHiddenLgSearch() {
    for (var navEl of document.getElementsByClassName('navbar-nav')) {
      if (navEl.getElementsByClassName('td-search-input').length > 0) {
        for (var search of navEl.getElementsByClassName('td-search-input')) {
          var style = window.getComputedStyle(navEl)
          if (navEl.classList.contains('d-md-block') && style['display'] === 'none') {
            search.remove();
          }
        }
      }
    }
  }

  delHiddenLgSearch();
 
  docsearch({
      // Your apiKey and indexName will be given to you once
      // we create your config
      apiKey: '6974095177303d4ec7cb2a2d7c6f051a',
      indexName: window.location.host.indexOf('github') > 0 ? 'pip_docs_test' : 'pip_docs_s3', //'pipservices',
      appId: 'ETKGUND67W',
      // Replace inputSelector with a CSS selector
      // matching your search input
      inputSelector: '.td-search-input',

      transformData: function (hits) {
      // Filter by language

        hits = hits.filter((item) => {
          console.log(item);
          
          if (localStorage['currentMenuActiveItem'].toLowerCase() != 'home'){
            let hitLangPage = item['url'].split('/')[4].toLowerCase();
            let isCorrectHit = localStorage['currentMenuActiveItem'].toLowerCase().replace('.', '/').split('/').indexOf(hitLangPage) > -1;

            return isCorrectHit;
          }

          return true
          
        });

        return hits;
      
      },


      // Set debug to true to inspect the dropdown
      debug: true,
  });

</script>
{{ end }}
